.container {
    width:800px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:2;
}

.sidebar {
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.content {
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 25px;
}

#header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style-type: none;
}

.links > li {
    float:left;
    margin: 20px;
}